.bootsy_area {
    width: 90%;
}

.account_rep_form {
    margin: 0;
}

.richtext_display {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    overflow: scroll;
}

.wrap-text {
    white-space: pre;
}